*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
:root{
	--Mnews-s:22px;
	--Mnews-w:700;
	--Sc-s:15px;
	--Sc-w:600;
	--Mnews-s2:18px;
	--desc:13px;
	--opct:0.7;
}

ul{
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
li{
	margin: 0;
	padding: 0;
	list-style: none;
}
img{
	width: 100%;
	object-fit: cover;
}
a{
	text-decoration: none;
	color: black;
}
.header{
	width: 100%;
	padding-bottom: 20px;
	
}
nav{
	width: 100%;
	/*height: 80px;*/
}
input{
	width: 100%;
	height: 100%;
	outline: none;
	border:none;
}
.max-size{
	max-width: 980px;
	margin: 0 auto;
}
.row{
	width: 100%;
	margin: 0 -4px;
	display:flex;
	flex-wrap: wrap;

}
.col {
	padding: 0 4px;
}
.second-news::-webkit-scrollbar {
  width: 2px;
}
.second-news::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.7) 
}
 
/* Handle */
.second-news::-webkit-scrollbar-thumb {
  background: #888; 
}

/*Content left*/

.nav1{
	display: flex;
	height: 30px;
	justify-content: space-between;

}
.list__item{
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: 400px;	
}
.list__item:last-child{
		margin-right: 20px;
}
.nav1  .list__item .item{
	display: flex;
	padding: 0 10px;
	/*height: 100%;	*/
	position: relative;
}
.icon-user{
	margin-right: 4px;
}
.icon-phone{
position: absolute;
top: 50%;
left: -5px;
transform: translateY(-50%);
}

/*nav2*/
.nav2{
	height: 50px;
	background-image: linear-gradient( to right,#e93022,#b6121d)

}
.nav2__contain{

	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 13px;
	font-weight: 500;
	color: white;
}
.nav2__list{
	display: flex;
	padding:0 -10px;
	align-items: center;
	height: 100%;
	
}
.nav2__list li{
	padding: 0 10px;
	
}
.nav2__list li a{
	color: white;
}
.nav2__search{
	width: 240px;
	height: 30px;
	position: relative;
}
.icon-search{
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	color:black;
	font-size: 15px;
	opacity: 0.7;
}
.nav2__search input{
	padding: 10px;
}
/*nav 3*/
.nav3{	
	width: 100%;
	padding: 	5px 0;
	
}
.nav3 .list{

	display: flex;
	padding: 5px 0;
	justify-content: space-between;
	border-bottom: 2px solid #ea3021;
}
.nav3 .list li{
	font-size: 11px;
	font-weight: 700;
	display: inline-block;
	text-transform: uppercase;
}
.nav2__list--tablet{
	display: none;
	align-items: center;
									
}
.menu-icon{
	display: flex;
	flex-direction: column;
	width: 20px;
	height: 20px;
	justify-content: center;
	cursor: pointer;
	transition: 0.25s
}
.menu-icon .line{
	display: block;
	width: 100%;
	height: 3px;
	background-color: white;
	margin:1.5px 0;
}

.search__group{
	position: relative;
	width: 200px;	
}
.search__group input{
	padding: 5px;
}
.icon-search-tablet{
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	color: black;	
}
.group-icon-forMB{
	display: flex;	
	align-items: center;
}
.group-icon-forMB span{
	display: flex;
	align-items: center;	
	height: 100%;
}
.icon{
	color: rgba(0,0,0,0.5);
	font-size: 20px;
	margin:4px 10px;	
}

/*.contain-icon{
	height: 100%;
	display: flex;
	align-items: center;
}*/
/*trending*/
.trending{
	display: flex;
	justify-content: space-between;
	font-size :13px;
	font-weight: 400;

}
.trending ul{
	display: flex;

}
.trending ul li{
	padding: 2px 5px;
	background-color: #f1f1f1;
	margin: 0 3px;
}
.trending ul li:first-child{
	margin:0;
	background-color: white;
}
/*clock*/
.container_clock{
	position: absolute;
	/*width: 150px;*/
	left: 60%;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 4px;
	background-color: #f1f1f1;
	padding: 3px;
	text-align: left;
	font-size: 15px;
	font-weight: 600;
	display: flex;
	border:0.5px solid  #f1f1f1;
	opacity: 0.7;
}
.clock{
	
	height: 30px;
	position: relative;
	padding: 15px 0;


}
.icon-clock{
	position:relative;
	right: 0;
	top: 1px;

	/*transform: translateY(-50%);*/

}

.container-header-news{
	margin-top: 10px;
}
.content-left{
	width: 70%;
	/*background-color: crimson;*/
	height: 600px;
}
 .content-left .left-top{
 	width: 100%;
 	max-height: 100%;
 	/*background-color: red;	*/
 } 
 /*for main news*/
 .main-news{
width: 65%;

 }

 .main-news h1{
 	font-size: var(--Mnews-s);
 	font-weight: var(--Mnews-w);
 	opacity: var(--opct)
 }
 .main-news p{
font-size: var(--desc);
opacity: var(--opct);
 -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
 }
 .second-news{
 	width: 35%;
 	height: 365px;
 	overflow: scroll;
 	/*background-color: blue;*/

 }
 .second-news ul{
 	list-style: none;
 	margin:0;

 }
  .second-news ul li {
  	padding: 0 10px 10px 0;
  	font-size: var(--Sc-s);
  	border-bottom: solid 1px rgba(0,0,0,0.1);
  	margin-left: 20px;
  }
  .second-news ul li a{
  	height: 100%;
  	position: relative;
  }
  .second-news ul li a::before{
  	position: absolute;
  	content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red; /* Change the color */
  font-size: 30px;
  top: -10px;	
  margin-left: -15px;
  }
/*Left bot*/
.left-bot{
	margin-top: 10px;
	width: 100%;
	/*max-height: 200px;*/
	padding-bottom: 20px;
}

.left-bot li{
	width: 33.33333%;
	height: 100%;
	font-size: var(--Sc-s);
	font-weight: 600;
}

/*content right*/
.content-right{
	width: 30%;
	height: 570px;
	background-color: #CCC;
}


/*------------------------------------------Main---------------------------------*/
	
.main{
	/*margin-top: 40px;*/
	width: 100%;
	height: 500px;
	background-color: blue;
}














/*Reponsive*/

/*tablet*/
@media (max-width: 768px)
  {
.max-size-tl{
	width: 728px;
	margin:0 auto;
}
.trending{
	display: none;
}
.clock{
	display: none;
}
.nav2 .nav2__contain .nav2__list{
	display: none;
}
.nav2__list--tablet{
	display: flex;	
}

/*nav3 responsive*/
.nav3 {
	width: 100%;
	position: relative;
	display: none;
}
.open{
display: block;
}
.nav3 .list{
position: absolute;
top:0;left: 0;right: 0;
bottom: 0;
border-bottom: 0;
display: inline-block;
border:none;
background-color:white;
z-index: 9999;
}
.nav3 .list li{
	background-color: white;
	font-size: 15px;
	font-weight: 700;
	display: block;
padding: 15px;
border-bottom: 1px solid rgba(0,0,0,0.3);
}
.nav3 .list li:first-child{
	display: none;
}
.group-icon-forMB span:nth-child(1){
	display: none;
}
.group-icon-forMB span:nth-child(2){
	display: none;
}
.group-icon-forMB span:nth-child(4){
	display: none;
}
}
@media (max-width: 450px){
	.max-size{
		width: 100%;
		padding: 0 8px;
	}
	.row{
		margin: 0;
	}
	.col{
		padding: 0;
	}
	.nav1{
		display: none;
	}	
	.nav2{
		background-image: none;
		color:black;
		/*background-color: crimson;*/
	}

	.nav2__list--tablet{
		display: flex;
	}
	.nav2__list--tablet .menu-icon .line{
	 background-color: black;
	 opacity: 0.7;
	}
	.nav2 .nav2__list--tablet .search__group{
		display: none;

	}
	.nav2 .logo{
		color:red;
	}
	.icon-phone-tablet{
		display: none;
	}
	.content-right{
		display: none;
	}
	.content-left{
		width: 100%;
	}
	.content-left .second-news{
		display: none;
	}
	.content-left .main-news{
		width: 100%;
	}
	.content-left .left-bot li{
		width: 100%;
		display: flex;
		margin: 5px 0;
		padding: 10px 0;
		border-bottom: 1px solid rgba(0,0,0,0.5);
	}
	.content-left .left-bot li img{
		width: 40%;
		height: auto;
		object-fit: cover;	
	}

.nav3 .list{
position: absolute;
top:0;left: 0;right: 0;
bottom: 0;
border-bottom: 0;
display: inline-block;
border:none;
background-color:white;
z-index: 9999;
}
.nav3 .list li{
	background-color: white;
	font-size: 15px;
	font-weight: 700;
	display: block;
padding: 15px;
border-bottom: 1px solid rgba(0,0,0,0.3);

}